@model AlexCaicedoRams_Examen1P.Models.AlexCaicedo_Tabla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AlexCaicedo_Tabla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcMayordeEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcMayordeEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcIngresos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcIngresos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcFechaNacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
