@model IEnumerable<AlexCaicedoRams_Examen1P.Models.AlexCaicedo_Tabla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcCedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcMayordeEdad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcIngresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcFechaNacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcMayordeEdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcIngresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcFechaNacimiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
